[toolchain]
anchor_version = "0.29.0"
solana_version = "1.17.31"

[features]
seeds = false
skip-lint = false

[programs.localnet]
woofi = "CiN1PGA8248UiSiF2zGFGftASxjfZU6h9rJnY4NSHgce"
rebate_manager = "maKLTWMVYri9FRap9iQEoeksSVU3wPUE68s7nDMfjaT"

[programs.devnet]
woofi = "CiN1PGA8248UiSiF2zGFGftASxjfZU6h9rJnY4NSHgce"
rebate_manager = "maKLTWMVYri9FRap9iQEoeksSVU3wPUE68s7nDMfjaT"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test_sdk = "yarn run ts-mocha -p sdk/tests/tsconfig.json -t 1000000 sdk/tests/**/*.test.ts"

[test.validator]
url = "https://api.devnet.solana.com"

[[test.validator.clone]]
address = "7UVimffxr9ow1uXYxsr4LHAcV58mLzhmwaeKvJ1pjLiE"
[[test.validator.clone]]
address = "Dpw1EAVrSB1ibxiDQyTAW6Zip3J4Btk2x4SgApQCeFbX"
[[test.validator.clone]]
address = "So11111111111111111111111111111111111111112"
[[test.validator.account]]
address = "4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU"
filename = "usdc-mock.json"
# usdc token owner with keypair
[[test.validator.clone]]
address = "C8kqb6a3SAMCkH8cFncUiwCMGjvVkwmunrukyaZhpaKJ"
# usdc token ata account
[[test.validator.clone]]
address = "4nKk6134yRHy6c6L2qR47oUC3tCy6Vu4ryjPv81fpXt3"